# Build artifacts and directories
tags
build/
dist/
*.egg-info/
.coverage

# Python cache files
__pycache__/
*.pyc

# PyCharm Project files contain local settings, and so are not appropriate for Git
.project
.idea/
*.dat

# Scriptabit-specific files
scriptabit.log
.cache/
.tox
setuptools-*
